<!-- PIEDS DE PAGE -->
<footer>
    <div class="container contour footer">
        <div class="space-wb">
            <img src="../../../assets/images/Logos/icon_WB.png" alt="">
            <p>Ce projet respecte l’univers cinématographique des films Batman récents. Version Nolan & Snyder & Reeve</p>
        </div>
        <div class="img-footer">

            <div class="logo-footer author">
                <img src="../../../assets/images/Logos/logo_sayna_white.png" alt="logo SAYNA" class="yellow-hover">
                <img src="../../../assets/images/Logos/icon_x.png" alt="x" class="yellow-hover">
                <img src="../../../assets/images/Logos/icon_DC.png" alt="Logo DC" class="yellow-hover">
            </div>

            <div class="logo-footer social">
                <a href="#"><img src="../../../assets/images/Logos/icon_facebook.png" alt="facebook" class="yellow-hover"></a>
                <a href="#"><img src="../../../assets/images/Logos/icon_ig.png" alt="Instagram" class="yellow-hover"></a>
                <a href="#"><img src="../../../assets/images/Logos/icon_tw.png" alt="Twitter" class="yellow-hover"></a>
            </div>

        </div>
    </div>
</footer>
<!-- FIN PIEDS DE PAGE -->