<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container contour">
        <a class="navbar-brand" routerLink="">
            <img src="../../../assets/images/Logos/logohome.png" alt="logo home" class="yellow-hover">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link yellow-hover" routerLink="home" routerLinkActive="active-page">{{ home }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link yellow-hover" routerLink="game" routerLinkActive="active-page">{{ game }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link yellow-hover" routerLink="eshop" routerLinkActive="active-page">{{ eshop }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link yellow-hover" routerLink="myAccount" routerLinkActive="active-page">{{ myAccount }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link yellow-hover" routerLink="login" routerLinkActive="active-page">
                        <i class="fa-regular fa-circle-user"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="logo-div">
    <div class="logo-content">
        <img src="../../../assets/images/Logos/logo_bat_flèche.png" alt="fleche haut" class="arrow up yellow-hover" id="top-arrow">
        <img src="../../../assets/images/Logos/icon_facebook.png" alt="icon facebook" class="social-logo yellow-hover">
        <img src="../../../assets/images/Logos/icon_ig.png" alt="icon instagrame" class="social-logo yellow-hover">
        <img src="../../../assets/images/Logos/icon_tw.png" alt="icon twitter" class="social-logo yellow-hover">
        <img src="../../../assets/images/Logos/logo_bat_flèche_2.png" alt="icon twitter" class="arrow down yellow-hover" id="down-arrow">
    </div>
</div>