<main>
    <div class="container contour main">
        <div class="intro align-items-center">
            <div class="content">
                <h1> Votre identité <br> secrète... </h1>
            </div>
        </div>
    </div>

    <div class="row container mx-auto pt-5 contour">
        <div class="col-md-3 ps-5">
            <p class="text-decoration-underline">Mes Informations</p>
            <p>Historique des commandes</p>
            <p>Mes avis</p>
            <p>Mes favoris</p>
            <button class="bn btn btn-secondary text-uppercase w-75">Déconnexion
            </button>

        </div>
        <div class="col-md-9">
            <div class="col-md-9 d-flex align-self-stretch">
                <div class="vr bg-white mx-3"></div>
                <div class="d-inline-block">
                    <h1 class="m-3">Informations personnelles</h1>
                    <hr style="size: 10px; color: white;">
                    <p class="lh-lg text-muted mt-3">Nom : Lorem ipsum dolor sit amet, <br> Prenom : Lorem ipsum dolor sit amet <br> Mot de passe : Lorem ipsum dolor sit amet,<br> Numero de téléphone : Lorem ipsum dolor sit amet, <br> Adresse de livraison : Lorem ipsum dolor sit amet,
                        <br> Adresse de facturation : Lorem ipsum dolor sit amet,</p>

                    <button class="bn btn btn-secondary text-uppercase mt-5">Modifier</button>
                </div>
            </div>

            <div class="col-md-9 d-flex align-self-stretch my-5">
                <div class="vr bg-white mx-3"></div>
                <div class="d-inline-block">
                    <h1 class="m-3">Newsletter</h1>
                    <hr style="size: 10px; color: white;">
                    <p class="text-muted">Abonnez vous à la newsletter ! Ne ratez pas nos offres exceptionnels sur votre article préféré ! </p>
                    <div class="ms-5 mt-5">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                            <label class="form-check-label" for="exampleRadios1">
                             Oui
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                            <label class="form-check-label" for="exampleRadios1">
                              Non
                            </label>
                        </div>
                    </div>
                    <button class="bn btn btn-secondary text-uppercase mt-5">ENREGISTRER</button>
                </div>
            </div>

        </div>
    </div>
</main>