@use '../../../../assets/styles/partials/colors' as colors;
@import '../../../../assets/styles/partials/general';
@import '../../../../assets/styles/partials/mixins';
main {
    @include page_bg($bg-sign);
}

.intro {
    height: 130vh;
    .intro-form {
        background-image: linear-gradient(to right, #071724, #337776);
    }
    .form {
        background-image: linear-gradient(to right, #6f7980, #337776);
    }
    .form-control::placeholder {
        color: gainsboro;
        height: 100px;
    }
    .btn {
        background-image: linear-gradient(to right, #216282, #5baba4) !important;
        &:hover {
            background-image: linear-gradient(to right, #5baba4, #216282) !important;
        }
    }
}