<section class="into-main">
    <div class="container contour main">
        <div class="intro">
            <div class="content">
                <h1> Récuperez le flow de <br> Batman avec notre e-shop ! </h1>
            </div>
            <div class="icon-down">
                <img src="../../../assets/images/Logos/flèche_down_header.png" alt="plus">
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container contour">
        <!-- <div class="row mt-5">
            <app-cart class="float-end"></app-cart>
            <div class="col-md-3">
                <app-aside></app-aside>
            </div>
            <div class="col-md-9">
                <app-products></app-products>
            </div>
        </div> -->
        <app-product-detail></app-product-detail>
    </div>
</section>