<section class="into-main">
    <div class="container contour main">
        <div class="intro">
            <div class="content">
                <h1> Récuperez le flow de <br> Batman avec notre e-shop ! </h1>
            </div>
            <div class="icon-down">
                <img src="../../../assets/images/Logos/flèche_down_header.png" alt="plus">
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container contour">
        <div class="row mt-5">
            <div class="container">
                <div class="float-end pt-3">
                    <button class="bg-transparent" [routerLink]="['/cart']">
                        <i class="fa-solid fa-2x fa-cart-shopping text-white"></i>
                    </button>
                </div>
            </div>
            <div class="col-md-3">
                <app-aside></app-aside>
            </div>
            <div class="col-md-9">
                <app-products></app-products>
            </div>
        </div>
    </div>
</section>